.app-header{
	@include d-flex($align-items: center, $justify-content: space-between);
	padding: 15px var(--side-indent, 53px);
	color: var(--white, #fff);
	background-color: var(--primary, #3498db);
	box-shadow: 0 0 30px 5px rgba(52,152,219, 0.4);

	.left-block{
		.toggle-button{
			cursor: pointer;
			transition: 0.2s;
			&:hover{
				.toggle-button-element{
					background-color: var(--dark, #16315c);
				}
			}
			&-element{
				display: block;
				width: 25px;
				height: 3px;
				background-color: var(--white);				

				&:nth-of-type(2){
					width: 18px;
					margin-top: 5px;
					margin-bottom: 5px;
				}
			}

			&.toggle-active{
				.toggle-button-element:nth-of-type(1){
					transform: translateY(8px) rotate(45deg);
				}
				.toggle-button-element:nth-of-type(2){
					opacity: 0;
				}
				.toggle-button-element:nth-of-type(3){
					transform: translateY(-8px) rotate(-45deg);
				}
			}

			@media (min-width: 768px){
				display: none;
			}
		}	
	}

	.right-block{
		@include d-flex($align-items: center, $justify-content: space-between);

		.search{
			font-size: 20px;
			margin-right: 25px;
			cursor: pointer;
			transition: 0.2s;
			&:hover{
				color: var(--dark, #16315c);
			}
		}

		.acc-info{
			@include d-flex($align-items: center);

			.acc-status{
				letter-spacing: 0.1em;
				color: var(--gray-300, #2775a9);
				@include d-flex($align-items: center, $justify-content: space-between);
				cursor: pointer;
				transition: 0.2s;

				&:before{
					content: '';
					position: absolute;
					left: 50%;
					right: 50%;
					width: 0;
					background-color: var(--gray-100, #f6fafe);
					transition: 0.3s;
					height: 1px;
					bottom: -7px;
				}

				&:hover{
					color: var(--gray-100, #f6fafe);
				}

				&:hover:before{					
					left: 0;
					right: 0;
					width: 100%;
				}
			}

			.acc-text{
				position: relative;

				.acc-menu{
					padding: 10px;
					background-color: var(--white, #fff);
					position: absolute;
					top: calc(100% + 5px);
					left: 50%;
					border-radius: 4px;
					color: var(--dark, #16315c);
					transition: 0.2s;
					opacity: 0;
					visibility: hidden;
					transform: translate(-50%, 5px);

					li{
						@include d-flex($align-items: center);
						white-space: nowrap;
					}

					&.acc-menu-open{
						opacity: 1;
						visibility: visible;
						transform: translate(-50%, 0);
					}

					.toggle-box{
						margin-left: 15px;
						min-width: 35px;
						height: 20px;
						position: relative;
						border-radius: 20px;
						background-color: #ccc;
						padding: 2px;
						cursor: pointer;

						.toggle-circle{
							display: inline-block;
							width: 50%;
							height: 100%;
							border-radius: 50%;
							background-color: #fff;
							position: relative;
							transition: 0.2s;
						}

						&.toggle-active{
							background-color: var(--green, #51dacf);
							.toggle-circle{
								left: 50%;
							}
						}
					}
				}
			}
		}		
	}

	.avatar{
		margin-right: 25px;
	}
}